@import url(./theme.css);

body {
    min-height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--width);
    background: var(--core);
    color: var(--accent);
    transition: background 0.3s, color 0.3s;
}

.container{
    padding: 20px;
    width:100%;
    max-width:1100px;
    margin: auto;
}

.header{
    text-align: center;
    margin-bottom:28px;
    color: var(--text);
}

.header h1{
    font-size:2rem;
    font-weight:700;
}

.header p{
    margin-top:8px;
}

.grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:24px;
    color: var(--text);
}

.card{
    background: var(--bg);
    border:1px solid var(--border);
    border-radius:28px;
    padding:28px;
    backdrop-filter:blur(16px);
}

.card-title{
    font-size:1.2rem;
    font-weight:700;
    margin-bottom:24px;
}

.table{
    display:flex;
    flex-direction:column;
    gap:16px;
}

.controls{
    display:flex;
    gap:12px;
    flex-wrap: wrap;
}

select{
    background: var(--bg);
    color: var(--text);
    border: 1px solid var(--chart);
    padding: 5px 5px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    font-size: 0.95rem;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:16px 18px;
    border-radius:18px;
    background: var(--info);
}

.label{
    color:var(--muted);
    font-size:.95rem;
}

.value{
    font-weight:600;
    text-align:right;
}

.actions {
    margin-top: 20px;
    display: flex;
    gap: 12px;
}

.primary-btn {
    flex: 1;
    padding: 12px;
    border-radius: 14px;
    border: none;
    background: #38bdf8;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.primary-btn:hover {
    background: #0ea5e9;
}

.secondary-btn {
    flex: 1;
    padding: 12px;
    border-radius: 14px;
    border: none;
    background: #6366f1;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.secondary-btn:hover {
    background: #4f46e5;
}

.danger-btn {
    flex: 1;
    padding: 12px;
    border-radius: 14px;
    border: none;
    background: #ef4444;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.danger-btn:hover {
    background: #dc2626;
}

.solar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

@media(max-width:850px){

    .grid{
        grid-template-columns:1fr;
    }

}