{% load static %}

<link rel="stylesheet" href="{% static 'css/monitoring.css' %}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<div class="page" id="page-monitoring">
    <div class="header">
        <h1 class="page-title">Monitoramento Eléctrico</h1>
        <div class="date-range">
            <input class="ds-item" id="date-monitoring" type="date">
            <button class="data-submit" id="data-submit-btn1">Aplicar</button>
        </div>
    </div>

    <div class="monitor-grid">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    Variáveis Eléctricas em Função do Tempo
                </div>
                <div id="data-selected-indicador"></div>
            </div>
            <div class="controls">
                    <select id="graphSelector">
                        <option value="voltage">Tensão</option>
                        <option value="current">Corrente</option>
                        <option value="light">Luminosidade</option>
                        <option value="power">Potência</option>
                        <option value="efficiency">Eficiência de rastreamento</option>
                    </select>
                </div>
            <div class="chart-container">
                <canvas id="electricalChart"></canvas>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    Ângulos Solares em Função do Tempo
                </div>
                <div id="data-selected-indicador1"></div>
            </div>
            <div class="chart-container">
                <canvas id="solarAngleChart"></canvas>
            </div>
        </div>
    </div>
</div>

<script type="module" src="{% static 'js/monitoring.js' %}"></script>