{% load static %}
{% load i18n %}
{% load allauth %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/passwordset.css' %}">
{% endblock %}

{% block content %}

<div class="auth-wrapper">


    <div class="auth-card">

        <div class="auth-title">
            {% include "components/back_button.html" %}
            {% trans "Definir Palavra-passe" %}
        </div>

        {% url 'account_set_password' as action_url %}

        {% element form method="post" action=action_url %}
            {% slot body %}
                {% csrf_token %}
                {{ redirect_field }}

                <div class="form-field">
                    {% element fields form=form %}
                    {% endelement %}
                </div>

            {% endslot %}

            {% slot actions %}
                {% element button type="submit" name="action" %}
                    {% trans "Guardar Palavra-passe" %}
                {% endelement %}
            {% endslot %}
        {% endelement %}

    </div>
</div>

<script src="{% static 'js/theme.js' %}"></script>
{% endblock content %}