{% load allauth i18n %}
{% load static %}
{% block content %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/password_change.css' %}">
{% endblock %}

<div class="body">

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <!-- Toast -->
            <div id="toast" class="toast hidden">
                Palavra-passe actualizada com sucesso!
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<div class="password-container">
    {% include "components/back_button.html" %}
    <!-- Título -->
    <h1 class="page-title">{% trans "Change Password" %}</h1>

    <!-- Formulário -->
    <form method="post" action="{% url 'account_change_password' %}" class="password-form">
        {% csrf_token %}
        {{ redirect_field }}

        <div class="form-fields">
            {{ form.as_p }}
            {{ form.as_p.errors }}
        </div>

        <div class="form-actions">
            <button type="submit" class="btn-primary">
                {% trans "Change Password" %}
            </button>
        </div>
    </form>
</div>
</div>
<script src="{% static 'js/password_change.js' %}"></script>
{% endblock content %}