{% load static %}
{% load i18n %}
{% load allauth %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/password_set.css' %}">
{% endblock %}

{% block content %}

<div class="auth-wrapper">
    <div class="auth-card">
        {% include "components/back_button.html" %}
        <div class="auth-title">
            {% trans "Definir Palavra-passe" %}
        </div>
        <!-- Formulário -->
        <form method="post" action="{% url 'account_set_password' %}" class="password-form">
            {% csrf_token %}
            {{ redirect_field }}

            <div class="form-field">
                {% element fields form=form %}
                {% endelement %}
            </div>

            <div class="form-actions">
                <button type="submit" class="btn-primary">
                    {% trans "Guardar Palavra-passe" %}
                </button>
            </div>
        </form>
    </div>
</div>

<script src="{% static 'js/theme.js' %}"></script>
{% endblock content %}