{% load i18n allauth account static %}
{% load static %}

{% block content %}
{% block extra_head %}
        <link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
{% endblock %}

<div class="body">

<div class="reset-container">

    <h1>{% trans "Recuperar senha" %}</h1>

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>
        {% trans "Digite seu email abaixo e enviaremos instruções para redefinir sua senha." %}
    </p>

    {% url 'account_password_reset_from_key' as reset_url %}

    <form method="post" action="{{ reset_url }}">
        {% csrf_token %}

        {{ form.email }}

        {{ redirect_field }}

        <button type="submit">
            {% trans "Enviar link de recuperação" %}
        </button>
    </form>

    <p style="margin-top:15px;">
        <a href="{% url 'account_login' %}">
            Voltar ao login
        </a>
    </p>

</div>
</div>
<script src="{% static 'js/theme.js' %}"></script>
{% endblock content %}