{% load i18n %}
{% load allauth %}
{% load static %}

{% block content %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/password_reset_from_key_done.css' %}">
{% endblock %}

<div class="body">

<div class="container">

    <h2>{% trans "Sucesso!" %}</h2>

    <div class="success-icon">
        ✓
    </div>

    <p class="text">
        {% trans "A tua palavra-passe foi alterada com sucesso." %}
    </p>

    <a href="{% url 'account_login' %}" class="btn">
        {% trans "Ir para o login" %} →
    </a>

</div>
<script src="{% static 'js/theme.js' %}"></script>
</div>
{% endblock content %}
