{% load i18n %}
{% load allauth %}
{% load static %}

{% block content %}
{% block extra_head %}
        <link rel="stylesheet" href="{% static 'css/password_reset_from_key.css' %}">
{% endblock %}

<div class="body">

<div class="container">

    {% if token_fail %}

        <h2>Token inválido</h2>

        <p class="text">
            O link de redefinição de password é inválido ou já foi usado.
        </p>

        {% url 'account_reset_password' as passwd_reset_url %}

        <p class="text">
            Solicite um novo <a href="{{ passwd_reset_url }}">reset de palavra-passe</a>.
        </p>

    {% else %}

        <h2>{% trans "Alterar Palavra-passe" %}</h2>

        <form method="post" action="{{ action_url }}">
            {% csrf_token %}
            {{ redirect_field }}

            <label>Nova palavra-passe</label>
            {{ form.password1 }}
            {{ form.password1.errors }}

            <label>Confirmar palavra-passe</label>
            {{ form.password2 }}
            {{ form.password2.errors }}

            {% if form.non_field_errors %}
                <div class="form-errors">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            <button type="submit" class="btn">
                {% trans "Alterar Palavra-passe" %} →
            </button>
        </form>

    {% endif %}

    <form id="logout-from-stage"
          method="post"
          action="{% url 'account_logout' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{% url 'account_login' %}">
    </form>

</div>

</div>

<script src="{% static 'js/theme.js' %}"></script>
{% endblock content %}